
<div class="box box-info">
    <div class="box-body">
        <form method="get">
            <div class="row">
                {% block box_filter_body %}{% endblock %}
                <div class="col-xs-1">
                    <button class="btn btn-flat" name="action" value="filter">Filter</button>
                </div>
            </div>
        </form>
    </div>
</div>

