{% extends '@common/Content/Page.twig' %}

{% use '@common/Content/Breadcrumb.twig' %}
{% use '@common/Header/Header.twig' %}
{% use '@common/Side/Left.twig' %}
{% use '@common/Footer/Footer.twig' %}

{% block content %}

    <div class="error-page">
        <h2 class="headline text-red">Error&nbsp;</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> {{ exception.getMessage() }}</h3>

            <p>
                Oops! Something went wrong. We will work on fixing that right away.<br />
                Meanwhile, you may <a href="/">return to dashboard</a> or try using the search form.<br />
                Please contact <a href="mailto:catalog-tech@deezer.com">catalog-tech@deezer.com</a> if the problem persists.
            </p>
        </div>
    </div>

    <div class="clearfix"></div>

    <h3>{{ exception.getMessage() }}</h3>
    <pre>
        {{ exception.getTraceAsString() }}
    </pre>
{% endblock %}
