{% block left %}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/static/cache/eureka/theme-bootstrap-adminlte/main/img/avatar0{{ currentUser.getGender() }}.png" class="img-circle" alt="Img">
            </div>
            <div class="pull-left info">
                <p>{{ currentUser.getName() }}</p>
            </div>
        </div>

        <!-- menu left (from macro) -->
        {% import '@macro/Menu.twig' as menus %}

        {{ menus.render(menu) }}
        <!-- /. menu left -->

    </section>
    <!-- /.sidebar -->

</aside>
{% endblock %}
